.home {
    background-color: #000000;
    height: 100vh;
    width: 100hw;
    
}

.landing-info {
    margin-top: 0%;
    height: 55%;
    width: 100%;
}

.background {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.left-box {
    background-color: #0DA195;
    width: 60%;
    height: 100%;
    position: inherit;
}

.right-box {
    background-color: #D7F9F4;
    width: 40%;
    height: 100%;
}

.school-name {
    padding-top: 1.5%;
    padding-bottom: 0%;
    padding-left: 7%;
    color: white;
    font-family: 'Open Sans';
    position: relative;

}
.org-name span{
    color:white;
    font-size: 75px;
    word-spacing: 0%;
    padding-top: 0%;
    padding-left: 7%;
    display: block;
    position: relative;
    
}

.statement{
    color:white;
    padding-left: 7.5%;
    font-family:'Open Sans';
    font-style: italic;
    font-size: 20px;
    position: relative;

}
