h1 {
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

.home {
    background-color: black;
    min-height: 100vh;
    width: 100hw;
}

.landing-info {
    height: 55%;
    width: 100%;
}

.background {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.left-box {
    background-color: #0DA195;
    width: 60%;
    height: 100%;
}

.left-box-text {
    /* background-color: black; */
    margin: 100px;
    color: white;
    font-family: 'Open Sans';
}

.right-box {
    background-color: #D7F9F4;
    width: 40%;
    height: 100%;
}

.school-name {
    color: white;
    font-family: 'Open Sans';
}

.mission-text {
    margin-top: 150px;
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 100px;
    color: white;
    font-family: 'Open Sans';
    text-align: left;
}

.testimonials {
    padding-bottom: 100px;
}

.meta {
    display: block;
}
