.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(202, 183, 183);
  margin: 0;
  padding: 0%;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: rgb(202, 183, 183);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
