.container {
    background-color: black;
    display: flex;
    flex-direction: row;
    color: white;
    width: 100hw;
    justify-content: space-around;
    font-family: 'Roboto Mono', monospace;
}

.column {
    display: flex;
    flex-direction: column; 
}

.row {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    padding: 5px;
}

.row:hover {
    font-weight: bolder;
}


.logo {
    color: cadetblue;
    padding-right: 10px;
}
