.navbar{
    background-color: #d6f0ff !important;
    height: 100px;  
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0px; 
    padding: 30px; 
}



.menu .item {
    height: 60px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.navbar-words{
    color: rgb(46, 47, 66) !important;
    font-weight:bolder !important;
    font-size: 18px;

}
.navbar-words:hover{
    color:rgb(246, 192, 44) !important;
}
.picture{
    width: 150px !important;
}
