.navbar{
    background-color: black !important;
    height: 100px;  
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0px; 
    padding: 30px; 
}




.menu .item {
    height: 60px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.navbar-words{
    color: aliceblue !important;
    font-size: 15px;

}
.navbar-words:hover{
    font-weight:bolder !important;
}
.picture{
    width: 150px !important;
}
